[submodule "Backend"]
	path = Backend
	url = git@github.com:Streetless/Backend
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:Streetless/Frontend
[submodule "Editor"]
	path = Editor
	url = git@github.com:Streetless/Editor
[submodule "EditorHub"]
	path = EditorHub
	url = git@github.com:Streetless/EditorHub
[submodule "PLD"]
	path = PLD
	url = git@github.com:Streetless/PLD
[submodule "PLD-API"]
	path = PLD-API
	url = git@github.com:Streetless/PLD-API
